/*Typography*/

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*Colors*/
:root{
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
}

/*----*/

body{
  margin: 0;
}



.header-container {
  background-image: url(./images/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.nav-items{
  font-family: 'Alata', sans-serif;
  color: white;
}


.loop-studios{
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-left: 2rem;
  margin-top: 2rem;
  
}
.title-container {
  width: 40%;
  display: flex;
  align-items: center;
  border: 2px solid white;
  margin: 10rem;
}

.page-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin: 2rem;
  text-transform: uppercase;
  color: white;
}

.titles{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.creations-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.btn {
  width: 130px;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  letter-spacing: 0.25rem;
  background-color: white;
  border: 1px solid black;
}

.image-1-container {
  margin: 8rem 0;
}

#image-parent {
  display: flex;
  position: relative;
  width: 90vw;
  justify-content: center;
}

#image-child {
  position: absolute;
  background: white;
  box-sizing: border-box;
  height: auto;
  width: 500px;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.interactive-details {
  font-family: 'Alata', sans-serif;
  color: var(--dark-grey);
}

.footer-container{
  background-color: black;
}

.contact-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

#footer-title> img{
  width: 100%;
}

#logos{
  display: flex;
  gap: 1rem;
}

.footer-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list{
  display: flex;
  gap: 3rem;
  list-style: none;
}

.footer-items, .footer-details{
  font-family: 'Alata', sans-serif;
  color: var(--dark-grey);
}

  

/*Creations Grid*/

.creations-grid{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  margin-bottom: 10rem;
}

.creation-imgs{
  width: 100%;
}

#deep-earth{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#night-arcade{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#soccer-team{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#the-grid{
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#from-above{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#borealis{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#curiousity{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#fish-eye{
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
  


