/*Typography*/

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*Colors*/
:root{
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
}

/*----*/

body{
  margin: 0;
}

.main-container{
  padding: 3rem;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-items{
  font-family: 'Alata', sans-serif;
}

.loop-studios{
  text-decoration: none;
  font-family: 'Alata', sans-serif;
}

.page-title{
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  border: 2px solid white;
}

/*Creations Grid*/

.creations-grid{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
}

.creation-imgs{
  width: 100%;
}

#deep-earth{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#night-arcade{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#soccer-team{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#the-grid{
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#from-above{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#borealis{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#curiousity{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#fish-eye{
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
  


